<?xml version="1.0"?>
<!--
　Copyright 2025 Reazon Holdings, Inc.

　Licensed under the Apache License, Version 2.0 (the "License");
　you may not use this file except in compliance with the License.
　You may obtain a copy of the License at

　    http://www.apache.org/licenses/LICENSE-2.0

　Unless required by applicable law or agreed to in writing, software
　distributed under the License is distributed on an "AS IS" BASIS,
　WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
　See the License for the specific language governing permissions and
　limitations under the License.
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="openarm_bimanual">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="prefix" default="" />
    <xacro:arg name="right_can_device" default="can0" />
    <xacro:arg name="left_can_device" default="can1" />
    <xacro:arg name="use_mock_hardware" default="true" />
    <xacro:arg name="mock_sensor_commands" default="true" />
    <xacro:arg name="right_initial_positions_file" default="$(find openarm_description)/config/initial_positions.yaml" />
    <xacro:arg name="left_initial_positions_file" default="$(find openarm_description)/config/initial_positions.yaml" />

    <!-- Set properties for the included xacro file -->
    <xacro:property name="prefix" value="$(arg prefix)" />
    <xacro:property name="right_can_device" value="$(arg right_can_device)" />
    <xacro:property name="left_can_device" value="$(arg left_can_device)" />
    <xacro:property name="use_mock_hardware" value="$(arg use_mock_hardware)" />
    <xacro:property name="mock_sensor_commands" value="$(arg mock_sensor_commands)" />
    <xacro:property name="right_initial_positions_file" value="$(arg right_initial_positions_file)" />
    <xacro:property name="left_initial_positions_file" value="$(arg left_initial_positions_file)" />

    <!-- Import openarm_bimanual urdf file -->
    <xacro:include filename="$(find openarm_bimanual_description)/urdf/openarm_bimanual.urdf.xacro" />

    <link name="base_link"/>
    <joint name="world_to_pedestal" type="fixed">
        <parent link="world"/>
        <child link="base_link"/>
        <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    </joint>

</robot>
